html, body {
    height: 100%;
    width: 100%;
}




.back {
    position: fixed;
    bottom: 40px;
    left: 20px;
    width: 90px;
    height: 90px;
    background: none;
    border-radius: 100px;
    border: none;
    margin: 7px;
    z-index: 1;
    
}


